@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  overflow-x: hidden;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #9fabb2; }
  @media only screen and (max-width: 800px) {
    body {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 600px) {
    body {
      line-height: 1.5; } }

.logo {
  width: 12rem;
  height: 12rem;
  margin: 4rem 0 2rem; }
  .logo img {
    width: 100%; }

.header {
  min-height: 100vh;
  text-align: center;
  padding: 5% 2%;
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 600px) {
    .header {
      background-image: url("../images/bg-header-mobile.png"); } }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4c545d;
  margin-bottom: 1rem; }

.heading-primary {
  margin: 2rem;
  width: min-content;
  font-size: 4rem; }
  @media only screen and (min-width: 600px) {
    .heading-primary-main {
      white-space: nowrap; } }
  .heading-primary-sub {
    font-weight: 400;
    font-size: 1.8rem;
    display: block;
    color: #9fabb2;
    text-align: center;
    padding: 1rem 0; }
  @media only screen and (max-width: 800px) {
    .heading-primary {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 600px) {
    .heading-primary {
      width: 90%; } }

.heading-secondary {
  font-size: 3.5rem; }
  @media only screen and (max-width: 800px) {
    .heading-secondary {
      font-size: 3rem; } }

.heading-tertiary {
  font-size: 2.2rem;
  margin-bottom: 0; }

.cta {
  width: 100%;
  margin: 2rem 0; }

.btn,
.btn:link,
.btn:visited {
  text-align: center;
  text-decoration: none;
  color: #eee;
  display: inline-block;
  padding: 1% 3%;
  border-radius: 100px;
  font-weight: 600;
  margin: 1rem; }
  @media only screen and (max-width: 600px) {
    .btn,
    .btn:link,
    .btn:visited {
      width: 85%;
      padding: 4%;
      margin: 1.5rem;
      font-size: 2rem; } }

.btn-blue {
  background-color: #6173ff;
  box-shadow: 0 2px 1px #3244cd, 0 10px 20px rgba(97, 115, 255, 0.399); }
  .btn-blue:active, .btn-blue:hover {
    background-color: #8f9cff;
    box-shadow: 0 2px 1px #7580d7, 0 10px 20px rgba(97, 115, 255, 0.399); }

.btn-green {
  background-color: #26baa4;
  box-shadow: 0 2px 1px #179784, 0 10px 20px rgba(38, 186, 164, 0.4); }
  .btn-green:hover, .btn-green:active {
    background-color: #48d5c0;
    box-shadow: 0 2px 1px #27b9a3, 0 10px 20px rgba(38, 186, 164, 0.4); }

.section-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  margin: 5rem 0 10rem; }
  @media only screen and (max-width: 600px) {
    .section-features {
      grid-template-columns: 1fr;
      margin: 5rem 0;
      text-align: center; } }

.feature-header {
  grid-column: 1/-1;
  padding: 2rem 25%;
  text-align: center; }
  @media only screen and (max-width: 1024px) {
    .feature-header {
      padding: 2rem 20%; } }
  @media only screen and (max-width: 600px) {
    .feature-header {
      padding: 2rem 10%; } }

.feature-image {
  width: 100%; }
  .feature-image img {
    position: relative;
    left: -4%; }
    @media only screen and (max-width: 1200px) {
      .feature-image img {
        width: 100%; } }
    @media only screen and (max-width: 600px) {
      .feature-image img {
        left: 0;
        width: 80%; } }

.features-container {
  padding: 5% 40%;
  padding-left: 5%; }
  @media only screen and (max-width: 1200px) {
    .features-container {
      padding: 2%;
      padding-right: 30%; } }
  @media only screen and (max-width: 800px) {
    .features-container {
      padding: 2%;
      padding-right: 15%; } }
  @media only screen and (max-width: 600px) {
    .features-container {
      padding: 2% 10%; } }

.feature {
  margin: 15% 0; }
  .feature-description {
    font-size: 1.5rem; }
  @media only screen and (max-width: 1200px) {
    .feature {
      margin: 0;
      margin-bottom: 10%; } }

.section-display {
  text-align: center;
  margin: 2.5rem 0; }

.display-header {
  padding: 2% 25%;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 1024px) {
    .display-header {
      padding: 2rem 20%; } }
  @media only screen and (max-width: 600px) {
    .display-header {
      padding: 2rem 10%; } }

.display-image {
  width: 100%; }
  @media only screen and (max-width: 1024px) {
    .display-image img {
      width: 80%; } }

.section-toolset {
  text-align: center;
  margin: 2.5rem 0; }

.toolset-header {
  padding: 2% 25%; }
  @media only screen and (max-width: 1024px) {
    .toolset-header {
      padding: 2rem 20%; } }
  @media only screen and (max-width: 600px) {
    .toolset-header {
      padding: 2rem 10%; } }

.cards {
  display: flex;
  padding: 2% 12%;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%; }

.card {
  width: 30%; }
  .card-icon {
    display: inline-block;
    font-size: 4rem;
    padding: 2rem 0 5rem; }
    @media only screen and (max-width: 600px) {
      .card-icon {
        padding: 2rem 0; } }
  .card-title {
    margin-bottom: 1rem; }
  .card-description {
    font-size: 1.5rem; }
  @media only screen and (max-width: 600px) {
    .card {
      width: 100%;
      margin: 3% 0; } }

.section-branding {
  text-align: center;
  margin: 2.5rem 0;
  padding: 5% 0; }

.brand-container {
  display: flex;
  padding: 2% 12%;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

@media only screen and (max-width: 1024px) {
  .brand {
    width: 17%; } }

.section-cta {
  text-align: center;
  margin: 2.5rem 0;
  padding: 2% 0 10%; }

.cta-header {
  padding: 2% 25%; }
  @media only screen and (max-width: 1024px) {
    .cta-header {
      padding: 2rem 20%; } }

.footer {
  background-color: #f5f5f5;
  display: flex;
  padding: 3% 12%;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .footer a:link,
  .footer a:visited {
    color: #4c545d;
    text-decoration: none; }
  .footer a:hover,
  .footer a:active {
    color: #26baa4; }
  .footer-nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    @media only screen and (max-width: 1024px) {
      .footer-nav {
        width: 60%; } }
  .footer-link {
    width: 30%; }
  .footer-logo {
    width: 5rem;
    height: 5rem; }
    .footer-logo img {
      width: 100%; }
  .footer .social-link {
    margin: 0 1rem; }
