@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #9fabb2; }

.logo {
  width: 12rem;
  height: 12rem;
  margin: 4rem 0 2rem; }
  .logo img {
    width: 100%; }

.header {
  height: 100vh;
  text-align: center;
  padding: 5% 2%;
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4c545d;
  margin-bottom: 1rem; }

.heading-primary {
  margin: 2rem;
  width: min-content;
  font-size: 4rem; }
  .heading-primary-main {
    white-space: nowrap; }
  .heading-primary-sub {
    font-weight: 400;
    font-size: 1.8rem;
    display: block;
    color: #9fabb2;
    text-align: center; }

.heading-secondary {
  font-size: 3.5rem; }

.heading-tertiary {
  font-size: 2.5rem;
  margin-bottom: 0; }

.heading-cta {
  width: 100%;
  margin: 2rem 0; }

.btn {
  text-align: center;
  text-decoration: none;
  color: #eee;
  display: inline-block;
  padding: 1% 3%;
  border-radius: 100px;
  font-weight: 600;
  margin: 0 0.5rem; }
  .btn-blue {
    background-color: #6173ff;
    box-shadow: 0 2px 1px #3244cd, 0 10px 20px rgba(97, 115, 255, 0.399); }
  .btn-green {
    background-color: #26baa4;
    box-shadow: 0 2px 1px #179784, 0 10px 20px rgba(38, 186, 164, 0.4); }

.section-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  margin: 5rem 0; }

.feature-header {
  grid-column: 1/-1;
  padding: 2rem 25%;
  text-align: center; }

.feature-image img {
  position: relative;
  left: -4%; }

.features-container {
  padding: 5% 40%;
  padding-left: 10%; }

.feature {
  margin: 15% 0; }
  .feature-description {
    font-size: 1.5rem; }
