*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width:1024px) {
        font-size: 56.25%;
    }

    @media only screen and (max-width:900px) {
        font-size: 50%;
    }

}

body {
    overflow-x: hidden;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.7;
    color: $grayish-blue;

    @media only screen and (max-width:600px) {
        line-height: 1.5;
    }
}