@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width:1024px) {
    font-size: 56.25%;
  }

  @media only screen and (max-width:900px) {
    font-size: 50%;
  }

}

body {
  overflow-x: hidden;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
  color: $grayish-blue;

  @media only screen and (max-width:800px) {
    font-size: 1.5rem;
  }

  @media only screen and (max-width:600px) {
    line-height: 1.5;
  }
}

//Hero Section

.logo {
  width: 12rem;
  height: 12rem;

  & img {
    width: 100%;
  }

  margin: 4rem 0 2rem;
}

.header {
  min-height: 100vh;
  text-align: center;
  padding: 5% 2%;
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width:600px) {
    background-image: url("../images/bg-header-mobile.png");
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-grayish-blue;
  margin-bottom: 1rem;
}

.heading-primary {
  margin: 2rem;
  width: min-content;
  font-size: 4rem;

  &-main {
    @media only screen and (min-width:600px) {
      white-space: nowrap;
    }
  }

  &-sub {
    font-weight: 400;
    font-size: 1.8rem;
    display: block;
    color: $grayish-blue;
    text-align: center;
    padding: 1rem 0;
  }

  @media only screen and (max-width:800px) {
    font-size: 3.5rem;
  }

  @media only screen and (max-width:600px) {
    width: 90%;
  }

}

.heading-secondary {
  font-size: 3.5rem;

  @media only screen and (max-width:800px) {
    font-size: 3rem;
  }
}

.heading-tertiary {
  font-size: 2.2rem;
  margin-bottom: 0;
}

.cta {
  width: 100%;
  margin: 2rem 0;
}

.btn,
.btn:link,
.btn:visited {
  text-align: center;
  text-decoration: none;
  color: #eee;
  display: inline-block;
  padding: 1% 3%;
  border-radius: 100px;
  font-weight: 600;
  margin: 1rem;

  @media only screen and (max-width:600px) {
    width: 85%;
    padding: 4%;
    margin: 1.5rem;
    font-size: 2rem;
  }
}

.btn-blue {
  background-color: $light-blue;
  box-shadow: 0 2px 1px hsl(233, 61%, 50%),
    0 10px 20px hsla(233, 100%, 69%, 0.399);

  &:active,
  &:hover {
    background-color: hsl(233, 100%, 78%);
    box-shadow: 0 2px 1px hsl(233, 55%, 65%),
      0 10px 20px hsla(233, 100%, 69%, 0.399);
  }
}

.btn-green {
  background-color: $strong-cyan;
  box-shadow: 0 2px 1px hsl(171, 74%, 34%),
    0 10px 20px hsla(171, 66%, 44%, 0.4);

  &:hover,
  &:active {
    background-color: hsl(171, 63%, 56%);
    box-shadow: 0 2px 1px hsl(171, 65%, 44%),
      0 10px 20px hsla(171, 66%, 44%, 0.4);
  }
}

//Features Section

.section-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  margin: 5rem 0 10rem;
}

.feature-header {
  grid-column: 1/-1;
  padding: 2rem 25%;
  text-align: center;

  @media only screen and (max-width:1024px) {
    padding: 2rem 20%;
  }
}

.feature-image {
  width: 100%;

  & img {
    position: relative;
    left: -4%;

    @media only screen and (max-width:1200px) {
      width: 100%;
    }
  }
}

.features-container {
  padding: 5% 40%;
  padding-left: 5%;

  @media only screen and (max-width:1200px) {
    padding: 2%;
    padding-right: 30%;
  }

  @media only screen and (max-width:800px) {
    padding: 2%;
    padding-right: 15%;
  }
}

.feature {
  margin: 15% 0;

  &-description {
    font-size: 1.5rem;
  }

  @media only screen and (max-width:1200px) {
    margin: 0;
    margin-bottom: 10%;
  }
}

//Display Section

.section-display {
  text-align: center;
  margin: 2.5rem 0;
}

.display-header {
  padding: 2% 25%;
  margin-bottom: 5rem;

  @media only screen and (max-width:1024px) {
    padding: 2rem 20%;
  }
}

.display-image {
  width: 100%;

  & img {
    @media only screen and (max-width:1024px) {
      width: 80%;
    }
  }
}

//Toolset Section

.section-toolset {
  text-align: center;
  margin: 2.5rem 0;
}

.toolset-header {
  padding: 2% 25%;

  @media only screen and (max-width:1024px) {
    padding: 2rem 20%;
  }
}

.cards {
  display: flex;
  padding: 2% 12%;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 30%;

  &-icon {
    display: inline-block;
    font-size: 4rem;
    padding: 2rem 0 5rem;
  }

  &-title {
    margin-bottom: 1rem;
  }

  &-description {
    font-size: 1.5rem;
  }
}

//Branding

.section-branding {
  text-align: center;
  margin: 2.5rem 0;
  padding: 5% 0;
}

.brand-container {
  display: flex;
  padding: 2% 12%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.brand {
  @media only screen and (max-width:1024px) {
    width: 17%;
  }
}

//CTA

.section-cta {
  text-align: center;
  margin: 2.5rem 0;
  padding: 2% 0 10%;
}

.cta-header {
  padding: 2% 25%;

  @media only screen and (max-width:1024px) {
    padding: 2rem 20%;
  }
}

//Footer

.footer {
  background-color: #f5f5f5;
  display: flex;
  padding: 3% 12%;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & a:link,
  a:visited {
    color: $dark-grayish-blue;
    text-decoration: none;
  }

  & a:hover,
  a:active {
    color: $strong-cyan;
  }

  &-nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media only screen and (max-width:1024px) {
      width: 60%;
    }
  }

  &-link {
    width: 30%;
  }

  &-logo {
    width: 5rem;
    height: 5rem;

    & img {
      width: 100%;
    }

  }

  .social-link {
    margin: 0 1rem
  }
}